<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}

	{% block body_block %}
	<div align="center">
		<div>
			<div class="container text-center">
				<div class="fh5co-navbar-brand">
										<p>WITNESS A WHOLE NEW WORLD OF BOLLYWOOD DANCE MUSIC</p>
										<h2>BOLLYWOOD DJ MIX</h2>
									</header>
									<p>A DJ mix or DJ mixset is a sequence of musical tracks typically mixed together to appear as one continuous track. DJ mixes are usually performed using a DJ mixer and multiple sounds sources, such as turntables, CD players, digital audio players or computer sound cards, sometimes with the addition of samplers and effects units, although it is possible to create one using sound editing software.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>
					
				{% endblock %}
	<footer>
		<div id="footer" class="fh5co-border-line">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<p>Copyright 2018 Paasbaan All Rights Reserved.</p>
						<p class="fh5co-social-icons">
							<a href="https://twitter.com/Mr_tiwariji19"><i class="icon-twitter-with-circle"></i></a>
							<a href="https://www.facebook.com/sourabh.tiwari.94801?ref=bookmarks"><i class="icon-facebook-with-circle"></i></a>
							<a href="https://www.linkedin.com/in/sourabh-tiwari-08492a14a/"><i class="icon-linkedin-with-circle"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="{%static "js/jquery.min.js"%}"></script>
	<!-- jQuery Easing -->
	<script src="{%static "js/jquery.easing.1.3.js"%}"></script>
	<!-- Bootstrap -->
	<script src="{%static "js/bootstrap.min.js"%}"></script>
	<!-- Waypoints -->
	<script src="{%static "js/jquery.waypoints.min.js"%}"></script>
	<!-- Owl carousel -->
	<script src="{%static "js/owl.carousel.min.js"%}"></script>
	<!-- Stellar -->
	<script src="{%static "js/jquery.stellar.min.js"%}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{%static "js/main.js"%}"></script>
		{{ insert_me }}
	</body>
</html>
