<!DOCTYPE html>
{% extends "base.html" %}

{% load staticfiles %}
{% block body_block %}

	<div align="center">
	<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Analysis Wall</p>
						<h2>VISULIZATION</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/1404833002-998_Top-5-cities-by-number-of-rapes.png" %}" alt="" /></a>
								<p>Crime Rate</p>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/download (7).png" %}" alt="" /></a>
								<p>Crime Density</p>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/download (9).png" %}" alt="" /></a>
								<p>Decision Tree Feature Importance</p>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/download (10).jpg" %}" alt="" /></a>
								<p>Decision Tree </p>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/download (11).png" %}" alt="" /></a>
								<p>Random-Forest </p>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img15.jpeg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img16.jpeg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img17.jpeg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img18.jpg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img19.jpeg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img20.jpeg" %}" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="{%static "images/img21.jpg" %}" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>
	</div>
	{% endblock %}
	<footer>
		<div id="footer" class="fh5co-border-line">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center">
						<p>Copyright 2018 Paasbaan</p>
						<p class="fh5co-social-icons">
							<a href="#"><i class="icon-twitter-with-circle"></i></a>
							<a href="https://www.facebook.com/vikrambhati96"><i class="icon-facebook-with-circle"></i></a>
							<a href="https://www.linkedin.com/in/vikramadityab/"><i class="icon-linkedin-with-circle"></i></a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="{%static "js/jquery.min.js" %}"></script>
	<!-- jQuery Easing -->
	<script src="{%static "js/jquery.easing.1.3.js" %}"></script>
	<!-- Bootstrap -->
	<script src="{%static "js/bootstrap.min.js" %}"></script>
	<!-- Waypoints -->
	<script src="{%static "js/jquery.waypoints.min.js" %}"></script>
	<!-- Owl carousel -->
	<script src="{%static "js/owl.carousel.min.js" %}"></script>
	<!-- Stellar -->
	<script src="{%static "js/jquery.stellar.min.js" %}"></script>

	<!-- Main JS (Do not remove) -->
	<script src="{%static "js/main.js" %}"></script>

	</body>
</html>
